/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
*{
   --contrast: lime;
   --backgr: #000;
   margin: 0px;
   padding: 0px;
   
 }

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
 body {
  font-family: "basic-sans", sans-serif;
  background-color: #F0F2EF;
  
  
 }
h2 {
  font-size: 36px;
  padding-left: 56px;
  padding-right: 56px;
}
h3{
  font-size: 32px;
  margin-left: 13px;
}
header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 65px; 
  line-height: 65px;
}
article {
  height: 475px;
  width: 391px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin: 22px;
  float: left;

}
hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 45px;
}