
  html, body{
    margin: 0;
    height: 100%;
  }

  body{
  background-color: #F0F2EF;
  }

  #map{ 
    transform: translateY(+5%);
    display: flex;
    float: left;
    position: relative;
    margin-right: 38.5px;
    margin-left: 38.5px;
    margin-top: 44px;
  }

  svg path:hover{
    fill:blue;
  }

/* This is for our list of services*/
  #facilities{  
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    overflow-y: scroll;
    max-height: calc(100% - 22%);
  }

/* This section homes the actual 'strip card' of services */
  .services{
    width: 600px;
    height: 175px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
  }

  .serviceImage{
    height: 175px;
    width: 30%;
    float: left;
  }

/* place of the find and book buttons 
  .find,.book{
    display: flex;
    float: right;
    position:relative; 
    margin-right: 2ch; 
  } 
  */

  .buttonContainer{
    display: flex;
    float: right;
    position:absolute; 
    margin-right: 2ch; 
    bottom:0;
    right:0;
  } 

  .buttonContainer button {
    margin-left: 10px; /* space between the buttons */
  }

  .highlighted {
    stroke: red;
    stroke-width: 6;
    fill: yellow;
  }

/*  this was a test before I made the above admentments

    .find{
    display: flex;
    position: relative;
    float:left; 
    margin-right: 2ch;
  }
  .book{
    display: flex;
    position: relative;
  } */

