
  html, body{
    margin: 0;
    height: 100%;
  }

  body{
  background-color: #F0F2EF;
  }

  #map{ 
    transform: translateY(+5%);
    display: flex;
    float: left;
    position: relative;
    margin-right: 38.5px;
    margin-left: 38.5px;
    margin-top: 44px;
  }

  svg path:hover{
    fill:blue;
  }

/* This is for our list of services*/
  #facilities{  
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    overflow: scroll;
    max-height: 600px;
  }

  #facilitiesContent {
    overflow-y: auto; /* Enable vertical scrolling for the content */
    height: 100%; 
    scroll-behavior: smooth;
  }

/* This section homes the actual 'strip card' of services */
  .services{
    width: 600px;
    height: 200px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
  }

  .serviceImage{
    height: 175px;
    width: 30%;
    float: left;
  }

/* place of the find and book buttons - I am using the button container class atm, this should be redundant and will delete.
  .find,.book{
    display: flex;
    float: right;
    position:relative; 
    margin-right: 2ch; 
  } 
  */

  .buttonContainer{
    display: flex;
    float: right;
    position:absolute; 
    margin-right: 2ch; 
    bottom:0;
    right:0;
  } 

  /* This  is for styling all the find buttons. mutliple class used, because of the find feature in relation to the SVG map. */
  .find {
    font-size: 24px;
    color: #D55E2D;
    background-color: #ffffff;
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    border: 2px solid #D55E2D;
  }

  .book {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #D55E2D;
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    position: relative;
    border: 2px solid #D55E2D;
  }

  .buttonContainer button {
    margin-left: 10px; /* space between the buttons */
  }

  .highlighted {
    stroke: red;
    stroke-width: 6;
    fill: yellow;
  }

/*  this was a test before I made the above admentments

    .find{
    display: flex;
    position: relative;
    float:left; 
    margin-right: 2ch;
  }

  .book{
    display: flex;
    position: relative;
  } */

