  html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  body{
  background-color: #F0F2EF;
  }

  #map{ 
    display: flex;
    float: left;
    position: relative;
    margin-right: 38.5px;
    margin-left: 38.5px;
    margin-top: 20px;
  }
/* Styles for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Styles for the popup container */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Additional styles for form elements and button can be added */

/* This is for our list of services*/

 /* #facilities{  
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    overflow: scroll;
    max-height: 665px;
  } */
  
  #facilities {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 665px;
  }

  #facilitiesContent {
    overflow-y: auto; /* Enable vertical scrolling for the content */
    height: 100%; 
    scroll-behavior: smooth;
  }

  h1{
    font-size: 3.125rem;
    margin: auto;
    margin-top: 8px;
  }
/* This section homes the actual 'strip card' of services */
  .services{
    width: 600px;
    height: 200px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
  }

  .serviceImage{
    height: 200px;
    width: 35%;
    float: left;
    margin-right: 20px;
  }

  
/* place of the find and book buttons - I am using the button container class atm, this should be redundant and will delete.
  .find,.book{
    display: flex;
    float: right;
    position:relative; 
    margin-right: 2ch; 
  } 
  */

  .buttonContainer{
    display: flex;
    float: right;
    position:absolute; 
    margin-right: 2ch; 
    bottom:0;
    right:0;
    margin-bottom: 10px;
  } 

  /* This  is for styling all the find buttons. mutliple class used, because of the find feature in relation to the SVG map. */
  .find {
    font-size: 24px;
    color: #D55E2D;
    background-color: #ffffff;
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    border: 2px solid #D55E2D;
  }

  .book {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #D55E2D;
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    position: relative;
    border: 2px solid #D55E2D;
  }

  .buttonContainer button {
    margin-left: 10px; /* space between the buttons */
  }

  .highlighted {
    stroke: blue;
    stroke-width: 5;
    fill: lightblue;
  }

/*  this was a test before I made the above admentments

    .find{
    display: flex;
    position: relative;
    float:left; 
    margin-right: 2ch;
  }

  .book{
    display: flex;
    position: relative;
  } */

