
body {
    font-family: 'Basic Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #345995;
   
  }


  header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    height: 50px; 
    align-items: center;
    line-height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width:90%;
}

  header h2:nth-of-type(3) {
    text-decoration: underline;
  }
  
  .containers{
    display: flex;
  }
  .container1 {
    margin-top: 3%;
    width: 36%;
    display:inline-block;
    vertical-align:middle;
    background-color: rgb(255, 255, 255);
    margin-left: 12%;
  
    box-sizing:border-box;
  }

  .container2 {
    margin-top: 3%;
    margin-left:6%;
    width: 36%;
    display:inline-block;
    vertical-align:middle;
    background-color: rgb(255, 255, 255);
    box-sizing:border-box;
  }


 .list_rules {
  padding-left: 5%;
 }
 

.list_title {
  display: flex;
  background-color: #2D2D2D;
  color: white;
  padding: 8px; 
  margin-bottom: 10px;
}
  
.faq_title {
    display: flex;
    background-color: #2D2D2D;
    color: white;
   padding: 14px;
    margin-bottom: 10px;
  }
  
  
  .list_rules ul {
    list-style-type: style circle;;
    padding: 3%;
    margin: 3%; 
  }

  .qna {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }


  .qna button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
 }